@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
  --background-color: #66b5fb;
  --menu: #6897ca;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
}

.background-image{
  height: 100vh;
  min-width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.container{
  width: 90%;
  margin: auto;
}